.nav-buton{
    float: right ;
    padding-top: 10px;
}
.nav-buton:hover{
    transform: scale(1.09);
    outline: 1px solid #fff;
}
.main-header{
    background-image: url("./Images/background-animation/bg1.jpg");
    animation: cooking 30s normal infinite; 
    background-size: cover;
    background-position: center center;
    max-width: auto;
    height: 630px;
    padding: 20px 20px 50px 50px;
}
@keyframes cooking{
    20%   {background-image: url("./Images/background-animation/bg2.jpg");}
    40%  {background-image: url("./Images/background-animation/bg3.jpg");}
    60%  {background-image: url("./Images/background-animation/bg4.jpg");}
    80% {background-image: url("./Images/background-animation/bg5.jpg");}
}
.main-content h3{
    margin-top: 120px;
   color: #fff;
   font-size: 40px;
   font-weight: 600;
   font-family: ProximaNova,Arial,Helvetica Neue,sans-serif;
   letter-spacing: 0;
}
.main-content p{
    color: #686b78;
    font-size: 18px;
    font-weight: 300;
    font-family: ProximaNova,Arial,Helvetica Neue,sans-serif;
    letter-spacing: 1.5;
 }
.nav-food-btn{
     margin-top: 80px;
     text-align: center;
}

.form-select{
    cursor:pointer;
    background: transparent;
    color: #fff;
}
.header-cities h4{
    color: #686b78;
    margin-top: 15px;
    font-size: 20px;
    font-weight: 400;
    letter-spacing: 1.5;
    font-family: ProximaNova,Arial,Helvetica Neue,sans-serif;
}
.city-list{
    display: inline-block;

    
}
.city-list a{
    text-decoration: none;
    color: #fff;
    font-size: 15px;
    font-weight: 300;
    font-family: ProximaNova,Arial,Helvetica Neue,sans-serif;
    margin-right: 5px;
    cursor: pointer;

}
.city-list a:hover{
    transform: scale(1.03);
    transition: 0.2s;
    color: #686b78;
}

.side-drawer{
    background-color:rgb(255, 255, 255);
}
.cross-icon{
    margin-bottom: 25px;
}
.header-text h4{
    font-family: ProximaNova,Arial,Helvetica Neue,sans-serif;
    font-size:30px;
    font-weight: 600;
}
.para-text {
    font-family: ProximaNova,Arial,Helvetica Neue,sans-serif;
    font-size:20px;
    font-weight: 300;
}
.para-text a{
    text-decoration: none;
    color: #fbc470;
}
.input-area{
    width: 400px;
    margin-top: 25px;
    height: 60px;
}
.login-btn{
    width: 400px;
    margin-top: 25px;
    height: 40px;
    color: #fff;
    background-color:#fbc470 ;

}