@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@700&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Muli, sans-serif;";
}

#navbarScroll{
  font-size: 20px;
  color: #504545;
  text-align: right;
  justify-content:flex-end;
  margin-right: 5px;
} 
.menu_active{
  font-weight: bold;
  border-bottom: 2px solid #b61d1d;
}

#header h1{
  color: #000000;
  font-size: 48px;
  font-weight: 700;
  margin: 0 0 10px 0;
}
.img-fluid {
  max-width: 100%;
    height: auto;
    margin-top: 6px;
}

#header h2{
  color: #0dbe51;
  font-size: 38px;
}
#header .brand-name{
  color: #7daf44;
}


#header .btn-get-started:hover{
  background:#0698fa;
  color: #fff;
}
#header-img{
  text-align: center;
}

#header .animated{
  animation: up-down 3s ease-in-out infinite alternate-reverse both;
}

@keyframes up-down{
  0% {
    transform: translateY(10px)
  }
  100% {
    transform: translateY(-5px);
  }
}

/*---FOOTER-----*/
.main-footer {
  color: #ffffff;
  background-color: #272425;
  padding-top: 3em;
  position: relative;
  bottom: 0;
  width: 100%;
  text-align: center;
}
.main-footer a{
  margin-left: 10px;
  margin-right: 5px;
}

#card-style{
  background-color: #02e2f6;
}

.card-menu{
  background-color: #02e2f6 ;
}
.Title{
  font-size: 305px;
}